[submodule "matlog/hw0"]
	path = matlog/hw0
	url = https://github.com/itegulov/hw0-reference-solutions.git
[submodule "matan/3_4_semester_conspect"]
	path = matan/3_4_semester_conspect
	url = https://github.com/Dogzik/matan-tex
[submodule "comp_geom/geom_hw"]
	path = comp_geom/geom_hw
   url = https://github.com/GoPavel/geometry2018.git
[submodule "mt/lab4"]
   path = mt/lab4
   url = https://github.com/evgeniyfeder/parser_generator
[submodule "opt_met"]
	path = opt_met
	url = https://github.com/GoPavel/optimization-methods.git
